<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viestialue</title>
        <meta charset="utf-8"/>
        <style>
            table {
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
        </style>
        
    </head>

     <body onunload="lataus()">
    <script>
        function lataus() {
        location.reload();
        }
    </script>
         <button onclick="lataus()">Päivitä sivu</button>
        <p>Alla viimeisimmät keskustelut aiheesta <span th:text="${viestialue.nimi}">viestialue</span></p>

        <table style="width:60%">
            <tr>
                <th>Viestiketju</th>
                <th>Viestejä</th>
                <th>Viimeisin viesti</th>
            </tr>
        
                <th:block th:each="viestiketju: ${viestiketjut}">
                <tr>
                    <td th:text="${viestiketju.otsikko}">viestiketjun otsikko"</td>
                    <td th:text="${viestiketju.maara}">viestejä"</td>
                    <td th:text="${viestiketju.viimeisinaika}">viimeisin viesti"</td>
                    <td> <a th:href="${'/viestialue/'+'viestiketju/'+ viestiketju.id}">Lue</a></td>
                </tr>
            </th:block>
               
        </table>
                
    </body>
</html>