<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Word Count</title>
        <meta charset="utf-8" />
    </head>
        <table style="width:35%">
            <h1>All messages</h1>
            <tr>
                <th>Message</th>
                <th>Value</th> 
            </tr>
        
                <th:block th:each="message ${messages}">
                <tr>
                    <td th:text="${message.key}">Message"</td>
                    <td th:text="${mesasge.value}">Count"</td>
                </tr>
            </th:block>
                
           </table>
    <body>
        <h1>Word count service!</h1>
        <form method="POST">
            <input type="text" name="message"/>
            <input type="submit" value="Send message"/>
        </form>
    </body>
</html>